// tipografia
$colorprincipal:#daa520;
$colorsecundario: #acaba9;
$fuenteTitulos:'Mochiy Pop P One', sans-serif;
$fuenteparrafos: 'Montserrat Alternates', sans-serif;

// tamaños
$alto1:100vh;
$alto2:100%;
$alto3:300px;
$ancho3:100px;
$ancho1:100%;
$ancho2:100vw;


* {
    padding: 0px;
    margin: 0px;   
    box-sizing: border-box;
}
.header-index{
    width: $ancho1;
    height: $alto1;
    background-image: linear-gradient(rgba(5,7,12, 0.75), rgba(5,7,12,0.75)), url(../imagenes/crepe1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* AQUI INICIA LA SESION DE NAVEGACIÓN */

nav{
   
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $fuenteTitulos;
    text-shadow: 1px 1px 2px $colorprincipal; 
    margin-bottom: 40px;
}
#logo{
    width: $ancho3+20;
    margin-top:  50px;
    margin-left: 50px;
    border-radius: 10px ;
    border: solid 2px $colorsecundario;
}
.bar-btn{
    font-size: 35px;
    color: $colorsecundario;
    margin-right: 30px;
    padding-top: 50px;  
}
.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 130px;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    transition: all .5s;
    z-index: 100;
    
    li{
       display: none;
       line-height: 30px;
       margin: 50px 0px;
       transition: all .5s;
    a{
       color: $colorsecundario;
       font-weight: 600;
       font-size: 16px;
       text-decoration: none;
    }
    }
}
// .nav-menu
// .nav-menu li 
.nav-menu li a.active, .nav-menu li a:hover{  
    color: $colorprincipal;
    transition: .3s;
}
#check{
    display: none;
}
#check:checked ~ .nav-menu{
    height: 100vh;
}
#check:checked ~ .nav-menu li{
    display: block;
}
.texto-banner{
    padding: 30px;
    margin-top: 150px;
    text-align: center;

    h1 {
    color: rgb(0, 0, 0);
    font-size:6vw;
    font-family:$fuenteTitulos;
    text-shadow: -2px -2px 1px #8d8989;
    display: inline-block;
    margin: 0 0.5rem;
    animation-name: aparecer;
    animation:fadeInUp; 
    animation-duration: 5s; 
    animation-iteration-count: 3; 

    span{
    color:$colorprincipal;
    margin-left: 20px;
    -webkit-text-stroke: 1px #0a0a0a; 
    } 
    }
}
// .texto-banner 
// .texto-banner 

#btn-instagram, #btn-facebook, #btn-whatsapp, #btn-youtube{
    font-size: 30px;
    color: #c5c0c0;
    text-decoration: none;
    margin: 10px; 
    text-shadow: 1px 1px 2px $colorprincipal; 
}
#btn-instagram:hover,
#btn-facebook:hover,
#btn-whatsapp:hover,
#btn-youtube:hover{
    color: $colorprincipal;
}
.redes-sociales{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 200px;
    right: 10px;
    z-index: 100;
    border-radius: 8px ;
}
.cont-frase{
    display: flex;
    height: 200px;
    background-color: #000000;
    border-top: solid #414141 1px;
    border-bottom: solid #414141 1px;
    justify-content: center;
    align-items: center; 

    h2 {
    background-color: rgb(0, 0, 0);
    color:  $colorprincipal;
    padding: 40px;
    font-size: 40px;
    font-family: $fuenteTitulos;
    text-align: center;
    text-shadow: -2px -2px 1px #000000;  
    animation-name: aparecer;
    animation:wobble; 
    animation-duration: 5s; 
    animation-iteration-count: 3; 
    }
}
// .cont-frase
.container-info{
    width: 100%;
    height: auto;
    background-color: #000000;
    text-align: center;
    margin:auto;
    
    h3 {
    font-size: 35px;
    font-family: $fuenteTitulos;
    color:  $colorprincipal;
    text-align: center;
    padding: 50px 0px;

    p {
    margin: auto;
    text-align: justify;
    font-size: 12px;
    color:$colorsecundario;
    font-family: $fuenteTitulos;
    width: 80%; 
    margin-bottom: 20px;
    margin-top: 20px; 

    }
    }
}
// .container-info 
// .container-info 
.container-info a {
    display: inline-block;
    width: 100%;
    height: auto;
    font-size: 20px;
    color:  $colorprincipal;
    text-decoration: none;
    margin-bottom: 20px;
    }
#deleite{
    text-align: center;
    background-color: #000000;
    text-transform: capitalize;
    padding: 10px;
    margin-bottom: 40px;
    color: $colorprincipal;
    font-family: $fuenteTitulos;
}
.product-row{
   padding: 5%;
   display: flex;
   justify-content: space-evenly;
   align-content: center;
   gap: 5%;

}
.card{
   box-shadow:  $colorprincipal 0px 0px 15px 5px;
      margin-bottom: 50px;
      background-color: #474747;
      border-radius: 20px;   
      opacity: 0.5; 
}
.card:hover{
    transform:scale(1.05);
    opacity: 0.9; 
}
.card img{
    width: 100%;
    border-radius: 20px 20px 0px 0px; 
    height: 180px;
}
.btn-success{
    background-color: #616161;
    border: 1px solid #0f0f0f;
}
.btn-success:hover{
    background-color: #020202;
    border: 1px solid #6d6c6c;

}
.card-title{
    color: $colorprincipal;
}

footer{
    width: 100%;
    height: auto;
    color: #ffffff;
    background-color: #313131;
    padding: 20px;
    text-align: center;  
}

/* acá iniian los estilos de la sesion de Historia */

.jumbotron{
  background-image: url(/imagenes/cerezascrep.jpg);
  background-size: cover;
  background-position: center;
  height: $alto3+100;
  text-shadow: 10px 10px 20px 20px #d60101;
  border-radius: 0px;
  margin-bottom: 0px;
  opacity: 0.8;
}
.h5{
    font-size: 60px;
    -webkit-text-stroke: 2px #000000;
    color: #fd0606; 
    padding-left: 30px;
    animation-name: aparecer;
    animation:fadeInUp; 
    animation-duration: 5s; 
    animation-iteration-count: 3; 
}
.jumbo-p{
    font-size: 30px;
    -webkit-text-stroke: 0.5px #000000;
    color: #ff0000; 
    padding-left: 30px;
    animation-name: aparecer;
    animation:fadeInUp; 
    animation-duration: 5s; 
    animation-iteration-count: 3; 
}
.historia{
    height: 500px;
    width: 100%;
    background-color: #2c2b2b;
    background-image: url(/imagenes/layered-waves-haikei.svg), url(/imagenes/cerezascrep.jpg);
    background-size: cover;
    background-position: center;
    
}
.ses-historia{
    text-align-last: center;
    width: 100%;
    height: auto;
    background-color: #0a0a0a4d;
}
.ses-historia article{
    display: inline-block;
    text-align: justify;
    padding: 30px;  
}
.ses-historia article h2{
    font-size: 20px;
    color: $colorprincipal;
    padding-bottom: 30px;
    font-family: $fuenteTitulos;
    display: inline-block;  
}
.ses-historia article p{
    font-size:16px;
    color: $colorsecundario;
    width: $ancho1 - 10;
    text-align: justify;
    margin: auto;
    font-family: $fuenteparrafos;
}  
.ses-historia iframe{
    max-width: 100%;
}

/* Desde aquí inician los estilos a la sesion de Productos */

 #h2-prod{
    color: $colorprincipal;
    background-color: rgb(10, 10, 10);
    font-size: 20px;
    font-family:$fuenteTitulos;
    padding: 20px 0px;
    text-align: center;
    text-shadow: -2px -2px 1px #000000; 
}
.sec-prod{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    background-color: rgb(10, 10, 10);
    width: 100%;
    padding-top: 20px;  
    opacity: 0.8;
}
.article-1,
.article-2,
.article-3,
.article-4,
.article-5, 
.article-6 {
   opacity:0.7;  
   animation-name: efecto;
    animation-duration: 3s; 
    animation-iteration-count: 2; 
 }
 
 @keyframes efecto{
     0%{
        background-color: #262627;
     }
     50%{
         width: 300px;
     }
     100%{
         background-color: rgb(0, 0, 0);
     }
}
.article-1:hover,
.article-2:hover,
.article-3:hover,
.article-4:hover,
.article-5:hover, 
.article-6:hover {
    opacity: 1;
    box-shadow: -1px 1px 15px 2px  $colorprincipal;
    transition-duration: 0.2s;
}
.sec-prod article {
    width: $ancho3*3;
    height: auto;
    margin: 5px;
    border-radius: 20px;
    background-color:#000000;
    margin-left: 40px;
    margin-bottom: 40px;
    box-shadow: -1px 1px 15px 2px #525251;
    text-align: center;
}
.sec-prod article img {
    width: 100%;
    margin: auto;
    border-radius:  20px 20px 0px 0px ;
    border: 2px solid  $colorprincipal;
}
.sec-prod h3{
    color:$colorprincipal;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
     font-family:$fuenteTitulos;   
}
.sec-prod p{
    color: $colorsecundario;
    font-size: 16px;
    font-family:$fuenteparrafos;
    padding: 20px;
    text-align: justify;
}
.link{
    text-decoration: none;
}

/* aca inicia la sesion de Servicios */

.carousel-item {
    width: 100%;
    text-align: center;
  }
  .carousel-item  img {
    width: 100%;
    height: auto;
    opacity: 0.5;
    transition: all 3s;
  }
  a:-webkit-any-link{
      text-decoration: none;
  }
main{
background-color: #0a0a0a;
}
.sec-services {
    display: flex;
    background-color: #0a0a0a;
    color: $colorsecundario;
    width: 70%;
    opacity: 0.7;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    flex-direction: row;
}

#h2-servicio{
    color: $colorprincipal ;
    background-color: #0a0a0a;
    font-size: 20px;
    font-family:$fuenteTitulos;
    text-align: center;
    text-shadow: -2px -2px 1px #000000; 
}
#articulo-1{

    width: 330px;
    height: auto;
    border-radius: 20px;
    font-size: 20px;
    font-family: $fuenteTitulos;
    box-shadow: -1px 1px 15px 2px #ffe600;
    opacity: 0.7;

}
#articulo-1:hover{
    transform:scale(1.05);
}
#articulo-1 h3{
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    font-family: $fuenteTitulos;
    padding-top: 10px;
    color:#ffe600;
   
}
#articulo-1 img{
    width: 250px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: -1px 1px 15px 2px #ffe600;
    margin-bottom: 20px;
}
#articulo-1 p,
#articulo-2 p,
#articulo-3 p,
#articulo-4 p{
    color:$colorsecundario ;
    padding: 0px 20px 20px;
    font-size:16px;
    font-family:$fuenteparrafos;
    text-align: justify;
}
#articulo-1 p,
#articulo-2 p,
#articulo-3 p,
#articulo-4 p:hover{
    color:#ffffff;
    opacity: 0.9;
}
#articulo-2{
   
    width: 330px;
    height: auto;
    border-radius: 20px;
    background-color: #000000;
    margin-bottom: 40px;
    box-shadow: -1px 1px 15px 2px #48f802;
    text-align: center;
    opacity: 0.7;
}
#articulo-2:hover{
    transform:scale(1.05);
}
#articulo-2 h3{
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    font-family: $fuenteTitulos;
    padding-top: 10px;
    color:#48f802 ;
}
#articulo-2 img{
    width: 250px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: -1px 1px 15px 2px #48f802;
    background-color: #88d688d8;
}
#articulo-3{
    width: 330px;
    height: auto;
    border-radius: 20px;
    background-color: #000000;
    margin-bottom: 40px;
    box-shadow: -1px 1px 15px 2px #00fff2;
    text-align: center;
    opacity: 0.7;
}
#articulo-3:hover{
    transform:scale(1.05);
}
#articulo-3 h3{
    font-family: $fuenteTitulos;
    padding-top: 10px;
    color: #00fff2;
    font-size: 22px;
}
#articulo-3 img{
    width: 250px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: -1px 1px 15px 2px #00fff2;
    margin-bottom: 20px;
}
#articulo-4 {
    width: 330px;
    height: auto;
    border-radius: 20px;
    background-color: #000000;
    margin-bottom: 40px;
    box-shadow: -1px 1px 15px 2px #ff0800;
    text-align: center;
    opacity: 0.7;
}
#articulo-4:hover{
    transform:scale(1.05);
}
#articulo-4 h3{
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    font-family: $fuenteTitulos;
    padding-top: 10px; 
    color:#ff0800 ;
}
#articulo-4 img{
    width: 250px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: -1px 1px 15px 2px #ff0800;
}

#articulo-1:hover, 
#articulo-2:hover, 
#articulo-3:hover, 
#articulo-4:hover {
    background-color: #000000;
    opacity: 1;
}
.sec-services article {
    width: 70%;
    height: auto;
    margin-top: 50px;
    border-radius: 20px;
    background-color:#000000;
    margin-bottom: 40px;
    box-shadow: -1px 1px 15px 2px #525251;
    text-align: center;
}
.link{
    text-decoration: none;
}

/* inicio de la sesion de contactos */

body{
    background:#0e0e0e;
    margin:0;
 
}
.formulario{
    width: 100%;
    min-height: 90vh;
    background-image: url(/imagenes/crepebanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    opacity: 0.9;
  
}
.form{
    width:380px;
    height:500px;
    background:#0a0a0a;
    // background-image: url(/imagenes/cerezascrep.jpg);
    border-radius:8px;
    box-shadow:0 0 40px -10px #fdd701;
    margin:20px auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:$fuenteparrafos;
    position:relative;
    top:25px;
    opacity: 0.9;
}
form h2 {
    margin:10px 0;
    padding-bottom:10px;
    width:100%;
    color:$colorprincipal;
    border-bottom:3px solid #78788c
}
input{
    color: #ecebeb;
    font-size: 18px;
    font-weight: 400;
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:$fuenteparrafos;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}
input:focus{
    border-bottom:2px solid #a2c214
}
.p-contacto:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:20px;
    color:#daa520;
    font-weight: bold;
}
button{
    float:right;
    padding:8px 12px;
    margin:8px 0px 0px;
    font-family:$fuenteparrafos;
    border:2px solid #78788c;
    background:0;
    color:#262627;
    cursor:pointer;
    transition:all .3s;
    color:#ffffff;
    border-radius: 10px;
}
button:hover{
    background:#000000;
    color:#ffffff;
}


/* ACA INICIAN LOS MEDIA QUERY */

 @media screen and (min-width: 1024px){
    #logo{
        margin-left: 50px;
    }
    nav{
        height: 100px;
    }
    .bar-btn{
        display: none;
    }
    .nav-menu{
        position: relative;
        height: 50px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }
    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0px 20px;
        transform: none;
    }
    .nav-menu li a{
        font-size: 16px;
    }
    .texto-banner h1{
        font-size: 70px;
        margin-bottom: 30px;
    }
    .cont-frase h2, h2{
        font-size: 40px;
        font-family: $fuenteTitulos;
        color: #daa520;
        text-align: center;
        padding: 40px 0px;
    }
    .container-info p{
        margin: auto;
        text-align: justify;
        font-size: 20px;
        color: #acaba9;
        font-family: $fuenteparrafos;
        width: 80%; 
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #h2-servicio{
        font-size:55px;
        color: #daa520;
    }
 
   
      

    
    
    
}

/* medias queries tablet vertical */

 @media screen and (min-width: 768px){

    .cont-frase h2, h2{
        font-size: 40px;
        font-family: $fuenteTitulos;
        color: #daa520;
        text-align: center;
        padding: 40px 0px;
    }
    .container-info h3{
        font-size: 40px;
        }
        .container-info p{
            margin: auto;
            text-align: justify;
            font-size: 20px;
            color: #acaba9;
            font-family: $fuenteparrafos;
            width: 80%; 
            margin-bottom: 20px;
            margin-top: 20px;           
        }
        .ses-historia article h2{
            font-size: 40px;
            color: #daa520;
            padding-bottom: 30px;
            font-family: $fuenteTitulos;
            display: inline-block;  
        }
        .ses-historia article p{
            font-size: 18px;
        } 
        #h2-prod{
            font-size: 35px;
        }
        #h2-servicio{
            font-size: 30px;
            color: #daa520;
        }
      
       
    }
   
/* medias queries celular horizontal*/

@media screen and (max-width: 630px){

    .texto-banner{
        padding: 30px;
        margin-top: 150px;
        text-align: center;
    
        h1 {
       
        font-size:10vw;
        
    
        span{
        color:$colorprincipal;
        margin-left: 20px;
        font-size: 10vw;
        -webkit-text-stroke: 1px #0a0a0a; 
        } 
        }
    }


    .cont-frase h2, h2{
        font-size: 30px;
        font-family: $fuenteTitulos;
        color: #daa520;
        text-align: center;
        padding: 40px 0px;
    }
    .container-info h3{
        font-size: 30px;
        }
        .container-info p{
            margin: auto;
            text-align: justify;
            font-size: 14px;
            color: #acaba9;
            font-family: $fuenteparrafos;
            width: 80%; 
            margin-bottom: 20px;
            margin-top: 20px;
        }
       
        .ses-historia article h2{
            font-size: 20px;
            color: #daa520;
            padding-bottom: 30px;
            font-family: $fuenteTitulos;
            display: inline-block;  
        }
        .sec-prod{
            width: 90%;
        }
        #h2-servicio{
            font-size:25px;
            color: #daa520;
        }
       
        #articulo-1 h3,
        #articulo-3 h3{
            text-align: center;
            font-size: 12px;
            margin: auto;
        }
        #articulo-1 p,
        #articulo-3 p{
        display: none;
    }
        #articulo-1 img{
       margin-bottom: 20px;
       width: 80%;
    }
    #articulo-3 img{
        width: 80%;
    }
        
            #articulo-2 h3,
            #articulo-4 h3{
                text-align: center;
                font-size: 12px;
                margin: auto;
            }
            #articulo-2 p,
            #articulo-4 p{
            display: none;
        }
            #articulo-2 img,
            #articulo-4 img{
           margin-bottom: 20px;
           margin: auto;
           margin-bottom: 20px;
           width: 80%;
        }
       
      
}  
/* medias queries celular vertical*/

 @media screen and (max-width: 320px){

    .cont-frase h2, .ses-historia h2{
        font-size: 20px;
        font-family: $fuenteTitulos;
        color: #daa520;
        text-align: center;
        padding: 40px 0px;
    }
    .container-info h3{
        font-size: 20px;
    }
    .container-info p{
        margin: auto;
        text-align: justify;
        font-size: 14px;
        color: #acaba9;
        font-family: $fuenteparrafos;
        width: 80%; 
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .ses-historia article h2{
        font-size: 15px;
        color: #daa520;
        padding-bottom: 30px;
        font-family: $fuenteTitulos;
        display: inline-block;  
    }
    .ses-historia article p{
        font-size: 14px;
    } 
    .article-1{
        width: 50%;
    } 

}